

<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
         <div class="widget-header bordered-bottom bordered-blue">
           <span class="widget-caption">Add Teacher </span>
         </div>
			<%= render 'form' %>
    </div>
    
</div>


