
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    
                    
                </div>
                
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                
                <% if session[:role_id] == 1%>   
                    <li >
                        <a href="/activities/new">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> Home </span></a>
                    </li>
                    <li >
                        <a href="/school_users/new">
                            <i class="menu-icon glyphicon glyphicon-pencil"></i>
                            <span class="menu-text"> Add Teacher </span></a>
                    </li>
                    <li >

                        <a href="/school_users">
                            <i class="menu-icon glyphicon glyphicon-th-list"></i>
                            <span class="menu-text"> Teacher list </span></a>
                    </li>
                   <!-- <li >

                        <a href="/parents/new">
                            <i class="menu-icon glyphicon glyphicon-pencil"></i>
                            <span class="menu-text"> Add Students </span></a>
                    </li> -->
                    <li >

                        <a href="/classrooms">
                            <i class="menu-icon glyphicon glyphicon-th-list"></i>
                            <span class="menu-text"> Class List </span></a>
                    </li>
                    <% elsif session[:role_id] == 2
                        %>
                    
                    
                    <li >

                        <a href="/school_users/teacherHomeView">
                            <i class="menu-icon glyphicon glyphicon-pencil"></i>
                            <span class="menu-text"> Home </span></a>
                    </li>
                   
                    
                        <%end%>
                    
                </ul>
                <!-- /Sidebar Menu -->
