
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    
                    
                </div>
                
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    
                    <li >

                        <a href="/school_users">
                            <i class="menu-icon glyphicon glyphicon-th-list"></i>
                            <span class="menu-text"> My kids </span></a>
                    </li>
                   <!-- <li >

                        <a href="/parents/new">
                            <i class="menu-icon glyphicon glyphicon-pencil"></i>
                            <span class="menu-text"> Add Students </span></a>
                    </li> -->
                    
                    
                </ul>
                <!-- /Sidebar Menu -->
